* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif;
  color: rgba(255, 255, 255, 0.7);
}

body {
  background-color: #121212;
  margin: 0;
  height: 200vh;
}

.header {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #323232;
  z-index: 1;
  display: grid;
  padding: 0 2% 0 2%;
  grid-template-columns: 66% 10% 10% 10%;
  transition-duration: 0.5s;
}
.header .headerItem {
  font-family: Outfit, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  transition-duration: 0.2s;
  cursor: pointer;
}
.header .logo {
  max-width: 60%;
  max-height: 60%;
}
@keyframes rotateHeader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header #headerName {
  margin: auto auto auto 0;
  font-size: 5vmax;
  animation: 1s ease-out 0s 1 rotateHeader forwards;
}
.header #headerName::first-letter {
  color: #4ad3d3;
}

.titleSpace {
  margin-top: 5vh;
}
@keyframes titleAnim {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.titleSpace .titleGrid {
  display: grid;
  grid-template-columns: 45% min(10px, 1vh, 1vw) 54%;
  padding: 10vw 0 max(40px, 5vw) 0;
}
.titleSpace .titleGrid * {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Outfit", sans-serif;
  padding: 0 5% 0 2.5%;
  line-height: 110%;
  user-select: none;
}
.titleSpace .titleGrid .titleName {
  text-align: right;
  font-size: max(15vw, 300%);
  font-weight: 600;
  user-select: none;
  line-height: 90%;
  opacity: 0;
  animation: 2s linear 0.1s 1 animIn forwards;
}
@keyframes animIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes inAndOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0%;
  }
  55% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
.titleSpace .titleGrid .titleName .firstName {
  padding-right: 0;
  color: #4ad3d3;
}
.titleSpace .titleGrid .titleName:hover {
  transform: scale(1.05);
}
.titleSpace .titleGrid .titleSeparator {
  background-color: rgba(255, 255, 255, 0.7);
  transform: scaleY(0);
  animation: 1s ease-in-out 0.2s 1 titleAnim forwards;
}
.titleSpace .titleGrid .titleJobs {
  text-align: left;
  font-size: max(15vw * 3 / 5, 200%);
  font-weight: 300;
}
.titleSpace .titleGrid .titleJobs * {
  display: none;
}
.titleSpace .titleGrid .titleJobs #job3 {
  padding-right: 0;
}
.titleSpace .titleGrid .titleJobs .cursor {
  display: inline-block;
  color: #4ad3d3;
  padding: 0;
  opacity: 0;
  animation: 1.2s linear 0s infinite inAndOut;
  font-weight: 100;
}
@keyframes titleAnim1 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.titleSpace .titleHorizontalBar {
  height: min(10px, 1vh, 1vw);
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 10% 0 10%;
  transform: scaleX(0);
  animation: 1s ease-in-out 0.2s 1 titleAnim1 forwards;
}

.project::first-letter {
  color: #4ad3d3;
}
.project .projectTitle {
  font-family: Outfit, sans-serif;
  text-align: center;
  margin: 3vh 0 3vh 0;
  font-size: max(15vw * 3 / 5, 200%);
  font-weight: bold;
}
.project .projectGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1vh;
  justify-items: center;
}
.project .projectCard {
  width: 90%;
  height: 100px;
  display: grid;
  grid-template-columns: 70% 1% 29%;
  grid-template-rows: 100%;
  border-radius: 10px;
  background-color: #1a1a1a;
}

/*# sourceMappingURL=index.css.map */
