$bgcolor: #121212;
$highlight1: #323232;
$highlight2: #1a1a1a;
$highlight3: 0;
$complimentary: #4ad3d3;
$textColor: rgb(187, 188, 191);
$headerHeight: max(10vh, 30px);

//font sizes
$h1: max(15vw, 300%);
$h2: max(15vw * 3 / 5, 200%);
$h3: max(15vw * 2 / 5, 200%);
$h4: max(15vw * 1 / 5, 150%);

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
  color: $textColor;
}

body {
  background-color: $bgcolor;
  margin: 0;
  height: 200vh;
}

.header {
  top: 0;
  width: 100%;
  //height: $headerHeight;
  position: fixed;
  background-color: $highlight1;
  z-index: 1;
  display: grid;
  padding: 0 2% 0 2%;
  grid-template-columns: 80% 5% 5% 5%;

  @media only screen and (max-width: 500px) {
    grid-template-columns: 66% 10% 10% 10%;
  }
  transition-duration: 0.5s;

  .headerItem {
    font-family: Outfit, sans-serif;;
    //font-size: $h4;
    font-weight: bold;
    text-align: center;
    margin: auto;
    transition-duration: 0.2s;
    cursor: pointer;



  }

  .logo {
    //width: auto;
    //height: auto;
    max-width: 60%;
    max-height: 60%;
    filter: invert(82%) sepia(5%) saturate(113%) hue-rotate(187deg) brightness(94%) contrast(84%);
  }

  @keyframes rotateHeader {
    0% {transform: rotate(0)}
    100%{transform: rotate(360deg)}
  }
  #headerName {
    margin: auto auto auto 0;
    font-size: 5vmax;
    &::first-letter {
      color: $complimentary;
    }

    animation: 1s ease-out 0s 1 rotateHeader forwards;
  }
}

.titleSpace {

  @keyframes titleAnim {
    0% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
    }
  }

  margin-top: 5vh;

  .titleGrid {
    $nameHeight: max(15vw, 300%);
    $jobHeight: max(15vw * 3 / 5, 200%);
    display: grid;
    grid-template-columns: 45% min(10px, 1vh, 1vw) 54%;
    padding: 10vw 0 max(40px, 5vw) 0;
    //opacity: 0;
    //visibility: hidden;

    //grid-gap: 1%;
    * {
      color: $textColor;
      font-family: 'Outfit', sans-serif;
      padding: 0 5% 0 2.5%;
      line-height: 110%;
      user-select: none

    }

    .titleName {

      @keyframes animIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 100%;
        }

      }
      text-align: right;
      font-size: $nameHeight;
      font-weight: 600;
      user-select: none;
      line-height: 90%;
      opacity: 0;
      animation: 2s linear 0.1s 1 animIn forwards;

      @keyframes inAndOut {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0%;
        }

        55% {
          opacity: 100%;
        }
        100% {
          opacity: 100%;
        }
      }

      .firstName {
        padding-right: 0;
        color: $complimentary;
      }


      &:hover {
        transform: scale(1.05);
      }
    }

    .titleSeparator {
      background-color: $textColor;
      transform: scaleY(0);
      animation: 1s ease-in-out 0.2s 1 titleAnim forwards;
      //display: none;

    }

    .titleJobs {
      text-align: left;
      font-size: $jobHeight;
      font-weight: 300;

      * {
        display: none;

      }

      #job3 {
        padding-right: 0;

        //margin: 0;
      }

      .cursor {
        display: inline-block;
        color: $complimentary;
        //color: ;
        padding: 0;
        opacity: 0;
        animation: 1.2s linear 0s infinite inAndOut;
        font-weight: 100;
      }

    }

    ////transition-timing-function: ease-out;
    //

  }

  @keyframes titleAnim1 {
    0% {
      transform: scaleX(0);
      //padding: 50% 0 50% 0 ;
    }

    100% {
      transform: scaleX(1);
      //padding: 10% 0 10% 0;
    }
  }

  .titleHorizontalBar {
    height: min(10px, 1vh, 1vw);
    background-color: $textColor;
    margin: 0 10% 0 10%;
    transform: scaleX(0);
    animation: 1s ease-in-out 0.2s 1 titleAnim1 forwards;
  }
}


.project {

  &::first-letter {
    color: $complimentary;
  }
  .projectTitle {
    font-family: Outfit, sans-serif;
    text-align: center;
    margin: 3vh 0 3vh 0;
    font-size: $h2;
    font-weight: bold;
  }

  .projectGrid {

    display: grid;
    grid-template-columns: 100%;
    //grid-template-rows: 100% 100% 100%;
    grid-gap: 1vh;
    justify-items: center;
  }

  .projectCard {
    width: 90%;
    height: 100px;
    display: grid;
    grid-template-columns: 70% 1% 29%;
    grid-template-rows: 100%;
    border-radius: 10px;
    background-color: $highlight2;
  }

}




